
.join{
	text-align: center;
}
.game{
	margin-top: 8%;
	text-align: center;
	font-size: 100px;
	font-weight: 500;
	font-family: sans-serif;
}

.join_table{
	margin-top: 1%;
	text-align: center;
	font-family: sans-serif;
	font-size: 40px
}
p{
	font-family: sans-serif;
	font-size: 20px;
}
input{
	height: 20px;
	width: 10%;
	font-size: 90%;
}
#join{
	width: 5%;
	height: 25px;
	font-size: 100%
}
#game_status{
	text-align: center;
	font-family: sans-serif;
	font-size: 10px;
}

li {
	list-style-type: none;
	font-size: 20px;
}