section {
	background-color: CAE9FF;
	border-width: 2px;
	display: inline-block;
	position: absolute;
	top: 5%;
	right: 5%;
	left: 5%;
	bottom: 5%;

}

.led {
	background-color: #B6E1E3;
	position: absolute;
    width: 28%;
}

.top_player {
	background-color: #B6E1E3;
	display: inline-block;
	position:absolute;
    top:20px;
    left:36%;
    width: 25%;
}
.top_player img {
	position: relative;
    left: 20%;
    top: 10;
    height: 17%;
    width: 28%;
}
.right_side_player {
	border-radius: 8%;
	background-color: #B6E1E3;
	position: absolute;
	top: 35%;
	right: 2%;
    width: 20%;
}
.left_side_player {
	border-radius: 8%;
	background-color: #B6E1E3;
	position: absolute;
	top: 35%;
	left: 2%;
    width: 20%;
}
.my {
	overflow: scroll;
	width: 100%;
	background-color: #B6E1E3;
	position: absolute;
    bottom: 0;
}
.deck{
	background-color: #B6E1E3;
	position:absolute;
	width:40%;
	height:35;
	top:31%;
	left:30%;
	overflow: scroll;
}
.popup {
	background-color: skyblue;
     position:absolute;
     width:40%;
     height:350px;
     top:31%;
     left:30%;
     overflow: scroll;
}
#topName{
	display: inline-block;
	float: right;
}

.card {
	position: relative;
	padding-bottom: 10%;
    left: 30%;
    top: 10;
    height: 17%;
    width: 36%;*/
}

.playerInfo{
	padding: 0.5% 3% 1% 3%;
	margin: 0.5% 0 1% 0;
}
.topPlayer {
	position: relative;
}
#hands img{
	position: static;
	height: 50%;
	/*width: 100%*/
}
.deck img{
	position: relative;
	height: 37%;
	width: 100%
}
#myinfor{
	position: relative;
	left: 25%;
	width: 50%;
	display: inline-flex;
}
#top_player {
	background-color: green;
	position:absolute;
    top:20px;
    left: 38%;
    margin-right:2.5%; 
	width: 17%
}
#right_player {
	background-color: green;
	position: absolute;
	top: 30%;
	right: 10%;
	width: 17%
}

#left_player {
	flex	:1;
	background-color: green;
	position: absolute;
	top: 30%;
	left: 8%;
    width: 17%
}
#bottom_player {
	background-color: green;
	position: absolute;
    bottom: 5%;
    left: 38%;
    
    width: 17%;
}
.hidden {
	visibility: hidden;
}
.round {
	background-color: #B6E1E3;
	position: absolute;
	right: 2%;
	width: 25%
}
.turn{
	background-color: green;
}
