section {
	background-color: EDEDD8;
	border-width: 2px;
	border: 2px solid #73AD21;
	display: inline-block;
	position: absolute;
	top: 2.5%;
	right: 2.5%;
	left: 2.5%;
	bottom: 2.5%;

}

h1 {
	font-family: sans-serif;
}
p {
	position: inline;
	font-family: "Helvetica Neue";
	font-weight: 600;
	font-size: 20;
}
.any{
	height: 27%;
	width: 11%;
	position: fixed;
	z-index: 1;
}
.any img{
	height: 100%;
	width: 100%;
}

.move div {
	width: 19%;
	height: 45%;
}
.lead {
	position: absolute;
	top: 2.5%;
	left: 3%;
    width: 28%;
}

.top_player {
	background-color: F3F5EF;
	border: 2px solid #73AD21;
    border-radius: 8%;
	position:absolute;
    top:2%;
    left:39%;
    height: 26%;
    width: 20%;
    overflow: hidden;
}

.back_side_img {
	position: relative;
    left: 10%;
    top: 10%;
    width: 34%;
}
.right_side_player {
	border-radius: 8%;
	background-color: F3F5EF;
	   border: 2px solid #73AD21;
	position: absolute;
	top: 36%;
	right: 2%;
	height: 26%;
    width: 20%;
}
.left_side_player {
	border-radius: 8%;
	background-color: F3F5EF;
    border: 2px solid #73AD21;
    border-radius: 10%;
	position: absolute;
	top: 36%;
	left: 2%;
	height: 26%;
    width: 20%;
}
.my {
    border: 2px solid #73AD21;
    border-radius: 1.5%;
	height: 23%;
	width: 96%;
	background-color: F3F5EF;
	position: absolute;
	left: 1.9%;
    bottom: 2.5%;
}
.deck{
	border: 2px solid #73AD21;
	transform: rotateX(40deg);
	border-radius: 50%;
	background-color: EBE0BE;
	opacity: 16%;
     position:absolute;
     width:44%;
     height:50%;
     top:26%;
     left:27.5%;
     overflow: scroll;
}
.popup {
	background-color: F3F5EF;
	position:absolute;
	border: 2px solid #73AD00;
	text-align: center;
	width:45%;
	height:40%;
	top:31%;
	left:27%;
	z-index: 2;
}
#topName{
	position: absolute;
	top: 29%;
	right: 10%;
	width: 40%;
	overflow: hidden;
}

.card {
	position: relative;
	padding-bottom: 10%;
    left: 30%;
    top: 10;
    height: 17%;
    width: 36%;*/
}

.playerInfo{
	padding: 0.5% 3% 1% 3%;
	margin: 0.5% 0 1% 0;
}

.hands img{
	position: static;
	height: 53%;
	max-width: 50%;
	min-width: 100%;
}
.deck img{
	position: relative;
	height: 37%;
	width: 100%
}
#myinfor{
	position: relative;
	left: 30%;
	width: 50%;
	padding: 0.2% 0 0.4%;
	display: inline-flex;
	overflow: scroll;
}
#top_player {
	position:absolute;
	z-index: 1;
    top:3.5%;
    left: 35%;
    width: 22%;
    height: 48%;
    margin-right:2.5%; 
}

#right_player {
	position: absolute;
	z-index: 1;
	top: 25%;
	right: 19%;
	width: 21%;
	height: 48%;
}

#left_player {
	flex	:1;
	position: absolute;
	z-index: 1;
	top: 25%;
	left: 10%;
	width: 22%;
	height: 48%;
}
#bottom_player {
	position: absolute;
	z-index: 1;
    bottom: 1.5%;
    right: 43%;
    width: 22%;
    height: 48%;
    transform: rotate(0deg);
}
.hidden {
	visibility: hidden;
}
.round {
	position: absolute;
	right: 2%;
	width: 25%
}
.turn {
	box-shadow: 0 0 20px #5FDA29;
}
.throw {
	position: fixed;
}

.deckCard {
	width: 100%;
	height: 100%;
}

#topName{
  position: absolute;
  top: 29%;
  right: 10%;
  width: 40%;
  overflow: hidden;
}

.move {
	 position:absolute;
     width:30%;
     height:33%;
     top:34%;
     left:35%;
     z-index: 1;
}

 .deckCards div {
	width: 19%;
	height: 45%;
}

.deckCards {
	 position:absolute;
     width:30%;
     height:40%;
     top:32%;
     left:35%;
     z-index: 1;
}

.playerInfo{
	padding: 0.5% 3% 1% 3%;
	margin: 0.5% 0 1% 0;
}
.call {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 40%;
}

#PointTable th {
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	padding: 6px 6px 6px 12px;
    background-color: darkgrey;
    color: black;
}

#PointTable td {
    text-align: center;
    background-color: #FAFAFA;
	padding: 6px 6px 6px 12px;
}
.leadSuit {
  width: 10%;
  height: 15%;
  position: absolute;
  top: 41%;
  left: 5%;
  font-size: 3vw;
  z-index: 3;
}
.quitGame{
	padding-top: 7%;
}
.yes_quit {
	width: 8%;
	height: 6%;
	margin: 3% 3% 0 0;
}
.no_quit {
	width: 8%;
	height: 6%;
	margin: 2% 3% 0 0;
}
.quit {
	position: absolute;
	right: 2%;
	top: 3%;
	z-index: 5;
	width: 5%;
	height: 3%;
	font-size: 2vw;
	cursor: default;
	/*background-color: green;*/
}